//FONT FAMILY
$poppins:'Poppins', sans-serif;

//FONT WEIGHT

$light-weight:300;
$regular:400;
$bold:700;

//FONT SIZES   
$xx-large:3rem;
$x-large:2rem;
$large:1.7rem;
$medium:1.3rem;
$small:1.1rem;
$x-small:0.8rem;