.header {
    width: 100%;
    height: 15vh;
    //background-image: url('../../images/image-banner.png'); puse estilo bg image en el archivo index porque no logre hacerlo desde aca.
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.profile__container {
    width: 85%;
    height: 20vh;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;

    
    .header__info {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        
        img {
            border-radius: 50%;
            width: 6rem;
            height: 6rem;
        }

        p {
            font-family: $poppins;
            font-weight: $bold;
            font-size: $large;
            line-height: 1.7rem;
            
            span {
                font-size: $small;
                font-weight: $regular;
                color: #8f8999;
            }
        }
    }

    .buttons {
        display: none;
        .mensaje , .seguir {
            width: 7rem;
            height: 3rem;
            border:none;
            font-size: $medium;
            font-weight: $light-weight;
            font-family: $poppins;
            color: white;
            margin: 0 0.5rem;
        }
        .mensaje {
            background-color: #92dce5
        }
        .seguir {
            background-color: #ef6461;
        }
    }
    
    
}